<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#9a0007">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/userSearch.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>
<body>
    <div id="nav_Div">
        <div id="logo_Div">
            <img src="/images/logo4.png" id="logo_Image" height="100%">
        </div>
        <div id="user_Input">
            <div id="help_Vertical">
                <div id="message_Div" data-toggle="modal" data-target="#myModal">
                    <img id="message_Update" src="/images/message_Icon.png" height="13%"/>
                    <!-- <img id="message" src="/images/message_Icon.png" height="13%" style="display:none" /> -->
                </div>
                <div>
                    &nbsp;
                    <strong style="cursor:pointer"> <%= user %></strong>
                </div>
                <div>
                        <img src="/images/logout.png" height="8%" style="cursor: pointer;" onclick="location.href='/logout'"/>
                    </div>
            </div>
        </div>
    </div>
    <div class="article_div">

        <div>
            <h3 style="color: rgb(187, 187, 187);"><%= jobPart %> 직군 사용자 검색</h3>
        </div>

        <div class="container-fluid">
             <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="score" class="control-label form_control_label">학점</label>
                    <select class="form_control_styler">
                        <option>무관</option>
                        <option>2.0 이하</option>
                        <option>2.0 이상</option>
                        <option>2.5 이상</option>
                        <option>3.0 이상</option>
                        <option>3.5 이상</option>
                        <option>4.0 이상</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="toeic" class="control-label form_control_label">토익</label>
                    <select class="form_control_styler">
                        <option>무관</option>
                        <option>700 이상</option>
                        <option>800 이상</option>
                        <option>850 이상</option>
                        <option>900 이상</option>
                        <option>950 이상</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="toeic_speaking" class="control-label form_control_label">토스</label>
                    <select class="form_control_styler">
                        <option>무관</option>
                        <option>Lv4 이하</option>
                        <option>Lv5 이상</option>
                        <option>Lv6 이상</option>
                        <option>Lv7 이상</option>
                        <option>Lv8</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="opic" class="control-label form_control_label">오픽</label>
                    <select class="form_control_styler">
                        <option>무관</option>
                        <option>AL 이상</option>
                        <option>IH 이상</option>
                        <option>IM1 이상</option>
                        <option>IM2 이상</option>
                        <option>IM3 이상</option>
                        <option>IL 이상</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="volunteer" class="control-label form_control_label">봉사</label>
                    <select class="form_control_styler">
                            <option>무관</option>
                            <option>1회 이상</option>
                            <option>2회 이상</option>
                            <option>3회 이상</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="internship" class="control-label form_control_label">인턴</label>
                    <select class="form_control_styler">
                            <option>무관</option>
                            <option>1회 이상</option>
                            <option>2회 이상</option>
                            <option>3회 이상</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="contests" class="control-label form_control_label">공모전</label>
                    <select class="form_control_styler">
                            <option>무관</option>
                            <option>1회 이상</option>
                            <option>2회 이상</option>
                            <option>3회 이상</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="overseas" class="control-label form_control_label">해외경험</label>
                    <select class="form_control_styler">
                            <option>무관</option>
                            <option>1회 이상</option>
                            <option>2회 이상</option>
                            <option>3회 이상</option>
                    </select>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <label for="licenses" class="control-label form_control_label">자격증</label>
                    <select class="form_control_styler">
                            <option>무관</option>
                            <option>1회 이상</option>
                            <option>2회 이상</option>
                            <option>3회 이상</option>
                            <option>4회 이상</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="width: 98%; display: flex; flex-direction: column; align-items: center;">
            <div style="border-top: 1px solid #aaaaaabe; margin-top: 32px; width: 98%;"></div>
        </div>

        <div class="search_button_div">
            <!-- <div class="search_button" onclick="addStudentList(1,2,3)">  검색 버튼 -->
            <div class="search_button" id="searchBtn" style="cursor: pointer;">
                <span style="margin-right: 28px;"><img src="images/search.png" alt="검색" style="width: 40px; margin-right: 4px; margin-left: -8px;">검색</span>
            </div>
            <div class="search_button" id="inSearching" style="visibility:hidden; height:44px; margin-top: -44px;">
                <span style="margin-right: -24px; color:lightgray; margin-top: 8px;">검색 중...</span>
            </div>
        </div>

        <div style="width: 98%; display: flex; flex-direction: column; align-items: center;">
            <div style="border-top: 1px solid #aaaaaabe; margin-top: 32px; width: 98%;"></div>
        </div>

        <div class="result_container">
            <div style="height: 40px; padding: 0px 24px 0px 24px;">
                <div style="float: left; width: 40%;">
                    <span class="form_control_label">성명</span>
                </div>
                <div style="float: right; width: 50%;">
                    <span class="form_control_label">학과</span>
                </div>

            </div>
            <div class="result_div">
                <div id="std_list_parent">
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal dialogBack" id="myModal">
        <div class="modal-dialog" modal-lg>
            <div class="modal-content dialogAnim">
                <!-- Modal Header -->
                <div class="modal-header modal_header_styler">
                    <h4 class="modal-title" style="color: white">Message</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>보낸사람</th>
                                <th>제목</th>
                                <th>날짜</th>
                                <th>읽음</th>
                            </tr>
                        </thead>
                        <tbody id='msg_list'>
                            <!-- msg list show -->
                        </tbody>
                    </table>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer modal_footer_styler">
                    <button id='msgListCloseBtn' type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- msg detail show -->
    <div id='msg_detail'></div>
    <script src="/javascripts/userSearch.js"></script>
</body>
</html>
